.About {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 2.5rem 4rem 4rem 4rem;

    max-width: 900px;
	font-size: 1.2rem;

}

.about-title {
    width: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;

	font-size: 2.1rem;
	font-weight: 500;
}

.my-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
}