@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
	min-width: 1000px;
	margin: 0;
	height: 100vh;

	background-color: white;
}

#root,
.App {
	width: 100%;
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;

	width: 100%;

	ul {
		padding-left: 1.1rem;
	}
}
