.Contact {
	display: flex;
	flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 900px;
	padding: 0 4rem 0 4rem;
}

.contact-title {
	width: 100%;
	max-width: 900px;
	margin-top: 2rem;
	margin-bottom: 1rem;

	font-size: 2.1rem;
	font-weight: 500;
}

.arrow-container {
    display: flex;
    align-items: flex-end;

    height: 100%;
    padding-bottom: 60px;
}

#arrow-down {
	width: 100px;
}
