.Contact {
	display: flex;
	flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 900px;
	padding: 0 4rem 0 4rem;
}

.arrow-container {
    display: flex;
    align-items: flex-end;

    height: 100%;
    padding-bottom: 60px;
}

#arrow-down {
	width: 100px;
}
