.Footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	width: 100%;
	height: 5rem;
	min-height: 5rem;

	font-size: .9rem;
	font-weight: 300;

	border-top: solid 1px rgb(227, 227, 227);
	background-color: white;
}

.social-media-icons {
	width: 1.4rem;
	height: 1.4rem;

	cursor: pointer;
	transition: 0.3s;
	opacity: .4;

	&:hover {
		transform: scale(1.1);
	}
}

#linkedin-icon {
	transform: scale(.96);

	&:hover {
		transform: scale(1);
	}
}


.email {
	color: rgb(79, 79, 79);
}