.Header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 1.5rem;
	padding-bottom: 1.1rem;

	border-bottom: solid 1px rgb(227, 227, 227);

	font-size: 1rem;
	color: rgb(80, 80, 80);

	li {
		list-style-type: none;
	}
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

.title-name,
.contact-info {
	width: 14rem;
	min-width: 14rem;

	// font-size: 0.95rem;
	font-size: 1.3rem;
	font-weight: 300;

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

.title-name {
	margin-left: 2rem;
}

.contact-info {
	margin-right: 2rem;
	text-align: right;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 51px;
	width: 100%;

	font-size: 1.3rem;
}

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;

	height: 100%;

	font-weight: 300;
}

.category-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;
}

li.category {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.fat-text {
	font-weight: 500;
}
