.Header {
	width: 100%;

	li {
		list-style-type: none;
	}
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 30px 30px 20px 30px;

	font-size: 1rem;
}


.title-name, .contact-info {
	font-size: 0.95rem;
	font-weight: 300;
}



nav {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 51px;
	width: 100%;
	padding-bottom: 1rem;

	font-size: 1.3rem;
	color: rgb(80, 80, 80);

	border-bottom: solid 1px rgb(227, 227, 227);
}

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	font-weight: 300;
}

.category-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;
}

li.category {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
