.Header {
	width: 100%;
	height: 164px;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 39px;
	margin-bottom: 39px;
	margin-left: 30px;

	font-size: 1rem;
}

.title-name {
	margin-right: 2rem;
	font-size: 0.95rem;
	font-weight: 300;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 51px;
	width: 100%;

	font-size: 1.3rem;
	color: rgb(80, 80, 80);
}

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	font-weight: 300;
}

.category-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;
}

li.category {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
