.Header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 0.8rem;
	padding-bottom: 0.6rem;
	border-bottom: solid 1px rgb(227, 227, 227);

	font-size: 1.1rem;
	font-weight: 300;
	letter-spacing: 0.07rem;
	color: rgb(80, 80, 80);

	ul {
		padding-left: 0;
	  }

	li {
		list-style-type: none;
	}
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

.title-name,
.contact-info {
	width: 17rem;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.title-name {
	margin-left: 2rem;
}

.contact-info {
	margin-right: 2rem;
	text-align: right;
}

.categories {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.category-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 120px;
	height: 100%;
}

li.category {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.fat-text {
	font-weight: 500;
}

@media (max-width: 768px) {
	.Header {
		flex-wrap: wrap;
		row-gap: 1rem;
	}

	.title-name,
	.contact-info {
		width: 100%;
		text-align: center;
		margin: 0;
		margin-left: 1.56rem;
	}

	.categories {
		width: 100%;
		justify-content: space-around;
		gap: 1rem;
	}
}
