.Main {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 2rem 4rem 4rem 4rem;

	max-width: 1000px;
	line-height: 1.7rem;
	font-size: 1rem;
	font-weight: 300;
}

.more-about-me {
	margin-top: 1rem;
	width: 100%;

	a:hover {
		text-decoration: underline;
	}
}