.Main {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 7rem 4rem 4rem 4rem;

	max-width: 900px;

}

.intro {
	padding-bottom: 3rem;

	line-height: 3.5rem;
	font-size: 2.3rem;
	font-weight: 300;

	span {
		font-weight: 600;
		letter-spacing: .07rem;
	}
}

.more-about-me {
	margin-bottom: 1.8rem;
}

.more-about-me,
.see-my-work {
	width: 100%;

	font-size: 1.1rem;
	color: rgb(80, 80, 80);

	a:hover {
		text-decoration: underline;
	}
}
