.Portfolio {
	:last-child {
		border-bottom: none;
	}
}

.Project {
	padding: 6rem 0 5rem 0;
	max-width: 900px;

	border-bottom: solid 1px rgb(227, 227, 227);
}

.project-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 3rem;
}

.project-name {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: .07rem;
}

.project-btns {
	display: flex;
	gap: 20px;

	min-height: 100%;

	:last-child {
		border: 1px solid rgba(27, 31, 35, 0.4);
	}
}

.project-description {
	margin-bottom: 3.5rem;

	line-height: 1.7rem;
	font-size: 1rem;
	font-weight: 300;
}

.project-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.project-image {
	height: auto;
	max-width: 100%;
}

// Button style from https://getcssscan.com/css-buttons-examples
.project-link-btn {
	width: 110px;
	height: 30px;

	appearance: none;
	background-color: #ffffff;
	border: 1px solid rgba(27, 31, 35, 0.4);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 12px;
	font-weight: 500;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
}

.project-link-btn:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.project-link-btn:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

.project-link-btn:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.project-link-btn:focus {
	outline: 1px rgb(0, 107, 207) solid;
}

.project-link-btn:before {
	display: none;
}

.project-link-btn:-webkit-details-marker {
	display: none;
}

@media (max-width: 768px) {
	.Project {
		padding: 3rem 0 3rem 0;
	}

	.project-title-container {
		align-items: flex-start;
		flex-direction: column;
		row-gap: 1.6rem;
	
		margin-bottom: 1.6rem;
	}
}