.Project {
	padding: 2.5rem 4rem 4rem 4rem;
    max-width: 900px;

    border-bottom: solid 1px rgb(227, 227, 227);
}

.project-img-container {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
}

.project-image {
	height: auto;
	width: 100%;
}

.project-name {
	margin-top: 1rem;
	margin-bottom: 1rem;

	font-size: 1.5rem;
	font-weight: 400;
}

.project-description-container {
    display: flex;
    width: 100%;
}

.project-buttons-container {
	display: flex;
    flex-direction: column;
    gap: .6rem;

    width: 30%;

    margin-left: 5%;
}

.project-description {
    width: 70%;
    line-height: 1.5rem;
    font-size: 1.13rem;
}

// Button style from https://getcssscan.com/css-buttons-examples
.project-link-btn {
    width: 110px;

  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.project-link-btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.project-link-btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.project-link-btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.project-link-btn:focus {
  outline: 1px transparent;
}

.project-link-btn:before {
  display: none;
}

.project-link-btn:-webkit-details-marker {
  display: none;
}