.Skills {
	width: 100%;
	max-width: 900px;
	padding: 0 4rem 4rem 4rem;
}

.skill-title {
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 1rem;

	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}

.skills-container {
	display: flex;
	justify-content: center;
	gap: 50px;

	width: 100%;
	margin-top: 40px;
}

#jest-icon {
	width: 100px;
	height: 50px;
	margin-top: 10px;
	margin-left: -20px;
}

#webpack-icon {
	margin-top: -30px;
}

#last-tech-row {
	border-bottom: solid 1px rgb(227, 227, 227);
}

.languages-container {
	display: flex;
	justify-content: center;
	gap: 60px;

	margin-top: 40px;
	padding-bottom: 3rem;

	border-bottom: solid 1px rgb(227, 227, 227);
}

.flag {
	width: 120px;
	height: 75px;

	border: 1px rgb(170, 168, 168) solid;
	border-radius: 5px;
}

.language-name {
	display: flex;
	justify-content: center;

	margin-top: 0.6rem;
	width: 100%;

	font-size: 1.1rem;
	font-weight: 400;
}
